<!DOCTYPE html>
<html lang="en-us" data-ng-controller="siteController">
    <head data-ng-controller="headController">
        <meta charset="utf-8">

        <title data-ng-bind="pageTitle + ' - Kevin Chan'">Kevin Chan - chessmasterhong</title>

        <link rel="icon" href="data:;base64,iVBORw0KGgo=">

        <meta name="author" content="Kevin Chan (chessmasterhong)">
        <meta name="description" content="Kevin Chan. Programmer, computer scientist, technology enthusiast.">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel=stylesheet href="../common/styles/site.min.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1><a href="/">Kevin Chan</a></h1>
                <nav data-ng-controller="navController">
                    <ul>
                        <li><a data-ng-class="{ active: isActive('home') }" href="/"><i class="icon-home"></i><span class="nav-label">Home</span></a></li>
                        <li><a data-ng-class="{ active: isActive('projects') }" href="/projects"><i class="icon-cog-alt"></i><span class="nav-label">Projects</span></a></li>
                        <li><a data-ng-class="{ active: isActive('resources') }" href="/resources"><i class="icon-share-squared"></i><span class="nav-label">Resources</span></a></li>
                        <li><a data-ng-class="{ active: isActive('about') }" href="/about"><i class="icon-user"></i><span class="nav-label">About</span></a></li>
                        <li><a data-ng-class="{ active: isActive('contact') }" href="/contact"><i class="icon-mail-alt"></i><span class="nav-label">Contact</span></a></li>
                    </ul>
                </nav>
            </header>

            <section class="content-body"><h1>Projects</h1>

<p>Here is where I showcase projects I have worked on, both past and present. This includes some of my side projects as well.</p>

<h2>Showcase</h2>

<div class="projects"><div data-ng-repeat="project in projects | filter: { showcase: true }" class="views-row views-row-odd">
        <a href="/#/projects/5">
            <img class="img-container img-view-detail" src="//drive.google.com/uc?export=download&id=0BzK_sWmObWZgd1hLaDg2MHNJVVk" alt="Thumbnail for Fire Emblem: Chronicles of the Abyss.">
        </a>
        <div class="proj-text">
            <div class="proj-title">
                <h3><a href="/#/projects/5">Fire Emblem: Chronicles of the Abyss</a></h3>
            </div>
            <div class="proj-desc">
                <p>A web-based remake of Fire Emblem: Blazing Sword, a turn-based strategy role playing game for the Game Boy Advance, but with a different main character and plot twist. Developed in JavaScript utilizing the HTML5 canvas using the ImpactJS game engine. The main goals of this project are to recreate a game that we enjoyed playing, to create a fully completed, quality game, and to give back to the ImpactJS community by open-sourcing the code so as to assist other developers on how to create similar features in their own game. Furthermore, we wanted to see what ImpactJS was truly capable of and to push the limits of the game engine beyond what we had initially thought was possible.</p>
                <p>
                    <a href="/#/projects/5">
                        <i class="icon-info-circled"></i> Read more
                    </a>
                    
                    <span class="spacer"></span>
                    <a href="//github.com/chessmasterhong/WaterEmblem" target="_blank" data-ng-show="project.urlSource">
                        <i class="icon-code"></i> Source Code
                    </a>
                </p>
            </div>
        </div>
    </div>
<div data-ng-repeat="project in projects | filter: { showcase: true }" class="views-row views-row-even">
        <a href="/#/projects/4">
            <img class="img-container img-view-detail" src="//drive.google.com/uc?export=download&id=0BzK_sWmObWZgNWJFNnYtTk1pMjA" alt="Thumbnail for Super Mario World: Koopa Krisis.">
        </a>
        <div class="proj-text">
            <div class="proj-title">
                <h3><a href="/#/projects/4">Super Mario World: Koopa Krisis</a></h3>
            </div>
            <div class="proj-desc">
                <p>A remake of the original Super Mario World platformer for the Super Nintendo Entertainment System. Built using JavaScript on top of the ImpactJS game engine. The goals for this project were to create a web browser version of one of the Nintendo's most popular games, to understand how to use ImpactJS, and to learn JavaScript.</p>
                <p>
                    <a href="/#/projects/4">
                        <i class="icon-info-circled"></i> Read more
                    </a>
                    <span class="spacer"></span>
                    <a href="//drksephy.bitbucket.org" target="_blank" data-ng-show="project.urlDemo">
                        <i class="icon-cog-alt"></i> Live Demo
                    </a>
                    <span class="spacer"></span>
                    <a href="//bitbucket.org/DrkSephy/smw-koopa-krisis" target="_blank" data-ng-show="project.urlSource">
                        <i class="icon-code"></i> Source Code
                    </a>
                </p>
            </div>
        </div>
    </div>
<div data-ng-repeat="project in projects | filter: { showcase: true }" class="views-row views-row-odd">
        <a href="/#/projects/3">
            <img class="img-container img-view-detail" src="//drive.google.com/uc?export=download&id=0BzK_sWmObWZgR0Q1TFdPdnBqWHc" alt="Thumbnail for MathFlash.">
        </a>
        <div class="proj-text">
            <div class="proj-title">
                <h3><a href="/#/projects/3">MathFlash</a></h3>
            </div>
            <div class="proj-desc">
                <p>A web-based system designed to address existing problems regarding how mathematical content is displayed on the Internet. It attempts to remedy some of these problems by use of various methods to improve how content is presented and how to get the necessary information across to the user and retaining their learned material more effectively. Research topics include adaptive response time-based sequencing and perceptual learning. Awarded the 2014 Computer Science Outstanding Project Implementation Award at the City College of New York. MathFlash was built using PHP, Python, JavaScript, and MySQL, as well as utilizing HTML5 and CSS3 technologies.</p>
                <p>
                    <a href="/#/projects/3">
                        <i class="icon-info-circled"></i> Read more
                    </a>
                    
                    
                </p>
            </div>
        </div>
    </div>

    </div>

<h2>Other works</h2>

<div class="projects"><span data-ng-repeat="project in projects  | filter: { showcase: false }" class="views-row">
        <a href="/#/projects/6" title="Impact Atmospheric System Plugin">
            <img class="img-container img-view-thumbnail" src="//drive.google.com/uc?export=download&id=0BzK_sWmObWZgdGhDT20yRmVWbzQ" alt="Thumbnail for Impact Atmospheric System Plugin.">
        </a>
    </span>
<span data-ng-repeat="project in projects  | filter: { showcase: false }" class="views-row">
        <a href="/#/projects/2" title="ImpactJS Enemy Editor">
            <img class="img-container img-view-thumbnail" src="//drive.google.com/uc?export=download&id=0BzK_sWmObWZgQ1YyVHhrYU93dkk" alt="Thumbnail for ImpactJS Enemy Editor.">
        </a>
    </span>
<span data-ng-repeat="project in projects  | filter: { showcase: false }" class="views-row">
        <a href="/#/projects/1" title="ParallelText">
            <img class="img-container img-view-thumbnail" src="//drive.google.com/uc?export=download&id=0BzK_sWmObWZgLWs3a2pabG9yWms" alt="Thumbnail for ParallelText.">
        </a>
    </span>
<span data-ng-repeat="project in projects  | filter: { showcase: false }" class="views-row">
        <a href="/#/projects/0" title="DocShare">
            <img class="img-container img-view-thumbnail" src="//drive.google.com/uc?export=download&id=0BzK_sWmObWZgTTJHZGl2Y3F3Rjg" alt="Thumbnail for DocShare.">
        </a>
    </span>

    </div>
</section>

            <footer>
                <div class="extlinks">
                    <p>
                        <a href="//github.com/chessmasterhong" target="_blank" title="GitHub"><i class="icon-github-circled"></i></a>
                        <a href="//bitbucket.org/chessmasterhong" target="_blank" title="Bitbucket"><i class="icon-bitbucket"></i></a>
                        <a href="//www.linkedin.com/in/kchan12" target="_blank" title="LinkedIn"><i class="icon-linkedin-squared"></i></a>
                    <p>
                </div>
                <div class="copyright">
                    <p>
                        Copyright &copy; 2014 Kevin Chan, <br>
                        <a href="//github.com/chessmasterhong/chessmasterhong.github.io#license" target="_blank">Some Rights Reserved.</a><br>
                    </p>
                    <p>
                        <a href="/credits">Credits</a>
                    </p>
                </div>
            </footer>
        </div>

        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-50180687-1', 'chessmasterhong.github.io');</script>
    </body>
</html>
