<h1>Credits</h1>

<p>
    The people responsible and technology colophon:<br>
    <em>(The content of this page was derived from <a href="http://humanstxt.org/">Humans TXT</a>.)</em>
</p>

<ul>
    <li><strong>Website</strong></li>
    <ul>
        <li>Kevin Chan, developer and maintainer of <a href="/">this</a> website</li>
    </ul>
</ul>

<ul>
    <li><strong>Special Thanks</strong></li>
    <ul>
        <li><a href="">_____</a></li>
        <li><a href="">_____</a></li>
        <li><a href="">_____</a></li>
    </ul>
</ul>

<ul>
    <li><strong>Technology Colophon</strong></li>
    <ul>
        <li>Components</li>
        <ul>
            <li>Website built using the <a href="https://angularjs.org/">AngularJS</a> web framework</li>
            <li>Hosted on <a href="https://pages.github.com/">GitHub Pages</a>, courtesy of <a href="https://github.com/">GitHub</a></li>
            <li>Theme modified from <a href="http://orderedlist.com/">Steve Smith</a>'s <a href="https://github.com/orderedlist/minimal">Minimal</a> theme</li>
            <li><a href="http://requirejs.org/">RequireJS</a> for keeping me sane while working with all those JavaScript files and modules. Also, the <a href="http://requirejs.org/docs/optimization.html">RequireJS Optimizer</a> is near irreplaceable.</li>
            <li>RequireJS's <a href="http://requirejs.org/docs/api.html#pageload">domReady</a> plugin</li>
            <li><a href="https://github.com/angular-ui/ui-router">AngularUI Router</a> for their intuitive "<a href="https://en.wikipedia.org/wiki/Finite-state_machine">finite-state machine</a>"-like routing</li>
            <li>AngularJS's <a href="https://github.com/angular/bower-angular-animate">ngAnimate</a> module for creating simple, yet elegant transition animations</li>
            <li><a href="https://github.com/likeastore/ngDialog">ngDialog</a> for their highly customizable lightweight <a href="http://en.wikipedia.org/wiki/Lightbox_(JavaScript)">lightboxes</a></li>
            <li><a href="http://nodejs.org/">Node.js</a></li>
            <li><a href="https://www.npmjs.org/">Node Package Manager (npm)</a> for managing Node packages for my website developent</a>
            <li><a href="http://bower.io/">Bower</a> for managing front-end packages for my website developent</li>
            <li><a href="http://gulpjs.com/">Gulp.js</a> for managing the tedium of mundane build processes</li>
            <li><a href="http://www.jshint.com/">JSHint</a> for being my invaluable (albeit annoying) code grammar teacher</li>
            <li><a href="http://luisfarzati.github.io/angulartics/">Angulartics</a></li>
            <li><a href="http://fontello.com/">Fontello</a> for creating custom icon font builds</li>
            <li><a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> for their awesome (icon) fonts</li>
            <li><a href="https://plus.google.com/106163021290874968147">&Lstrok;ukasz Dziedzic</a>'s <a href="http://www.latofonts.com/">Lato Font</a></li>
        </ul>
    </ul>
    <ul>
        <li>Software</li>
        <ul>
            <li><a href="http://www.sublimetext.com/">Sublime Text</a>, the text editor I fell in love with</li>
            <li><a href="http://getfirebug.com/">Firebug</a>, the web developer's swiss army knife</li>
            <li><a href="http://git-scm.com/">Git</a>, the distributed revision control and source code management</li>
        </ul>
    </ul>
</ul>
