<h1>Credits</h1>

<p>The following people and technologies that made this site possible:</p>

<ul>
    <li>Site built using the <a href="https://angularjs.org/">AngularJS</a> web framework</li>
    <li>Hosted on <a href="https://pages.github.com/">GitHub Pages</a>, courtesy of <a href="https://github.com/">GitHub</a></li>
    <li>Theme modified from <a href="http://orderedlist.com/">Steve Smith</a>'s <a href="https://github.com/orderedlist/minimal">Minimal</a> theme</li>
</ul>

<ul>
    <li><a href="http://requirejs.org/">RequireJS</a> for keeping me sane while working with all the JavaScript files and AngularJS modules. Also, the <a href="http://requirejs.org/docs/optimization.html">RequireJS Optimizer</a> is near irreplaceable.</li>
    <li>RequireJS's <a href="http://requirejs.org/docs/api.html#pageload">domReady</a> plugin _____</li>
    <li><a href="https://github.com/angular-ui/ui-router">AngularUI Router</a> for their intuitive "<a href="https://en.wikipedia.org/wiki/Finite-state_machine">finite-state machine</a>"-like routing</li>
    <li>AngularJS's <a href="https://github.com/angular/bower-angular-animate">ngAnimate</a> module _____</li>
    <li><a href="https://github.com/likeastore/ngDialog">ngDialog</a> </li>
    <li><a href="http://fontello.com/">Fontello</a> </li>
    <li><a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> for their awesome (icon) fonts</li>
    <li><a href="https://www.google.com/fonts/specimen/Lato">Lato Font</a> </li>
</ul>

<ul>
    <li><a href="http://nodejs.org/">Node.js</a> </li>
    <li><a href="http://bower.io/">Bower</a> </li>
    <li><a href="http://gulpjs.com/">Gulp.js</a> for managing the tedium of mundane build processes</li>
    <li><a href="http://www.jshint.com/">JSHint</a> for being my invaluable (albeit annoying) code grammar teacher</li>
</ul>

<ul>
    <li><a href="http://www.sublimetext.com/">Sublime Text</a> </li>
    <li><a href="http://notepad-plus-plus.org/">Notepad++</a> </li>
    <li><a href="http://getfirebug.com/">Firebug</a>, the web developer's swiss army knife</li>
    <li><a href="http://git-scm.com/">Git</a> </li>
</ul>
