<style>
    /* NOTE: temp styles for testing; remove on build */
    .projects .img_container {
        width: 179px;
    }
</style>

<h1>Projects</h1>

<p>Here is where I showcase projects I have worked on, both past and present. This includes some of my side projects as well.</p>

<p>Search by Project Title: <input type="text" data-ng-model="filter.projectTitle" placeholder="Project Title"></p>

<form name="projectListViewForm">
    <input type="radio" data-ng-model="view" value="thumbnail"> Thumbnail<br>
    <input type="radio" data-ng-model="view" value="detail"> Detail<br>
</form>

<div class="projects">
    <span data-ng-repeat="project in projects">
        <a href="#/projects/{{ projects.length - $index - 1 }}">
            <img class="img_container" data-ng-src="{{ project.thumbnail }}" alt="Thumbnail for {{ project.title }}.">
        </a>
    </span>
</div>
