<h1 data-ng-bind="'Projects &raquo; ' + project.title"></h1>

<div data-slider data-slides="project.slides"></div>

<div data-ng-show="project.urlDemo || project.urlSource">
    <p>
        <a href="{{ project.urlDemo }}" target="_blank" data-ng-show="project.urlDemo">
            <i class="icon-cog-alt"></i> Live Demo
        </a>
        <span data-ng-show="project.urlDemo && project.urlSource"></span>
        <a href="{{ project.urlSource }}" target="_blank" data-ng-show="project.urlSource">
            <i class="icon-code"></i> Source Code
        </a>
    </p>
</div>

<div data-ng-include="project.urlDetails"></div>
