<header>
    <h1><a href="/">Kevin Chan</a></h1>
    <nav>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<section>
    <h1>Hello World!</h1>
    <p>
        Hey there! I'm Kevin, a programmer, computer scientist, and a technology enthusiast in general.
    </p>
    <p>
        On this site, I'd like to present you with some of my <a href="/projects">projects</a> as well as provide some <a href="/resources">resources</a> that may hopefully help you in your own programming endeavors.
    </p>
</section>
<footer>
    <p>
        <a href="http://github.com/chessmasterhong"><i class="fa fa-github"></i> GitHub</a> |
        <a href="http://bitbucket.org/chessmasterhong"><i class="fa fa-bitbucket"></i> Bitbucket</a> |
        <a href="http://www.linkedin.com/in/kchan12"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
    </p>
    <small>
        Copyright &copy; 2014 Kevin Chan.<br>
        <a href="/credits">Credits</a>
    </small>
</footer>
