<h1>Projects</h1>

<p>Here is where I showcase projects I have worked on, both past and present. This includes some of my side projects as well.</p>

<div class="projects">
    <div data-ng-repeat="project in projects | reverse" data-ng-class-even="'views-row views-row-even'" data-ng-class-odd="'views-row views-row-odd'">
        <a href="#/projects/{{ projects.length - $index - 1 }}">
            <img class="img_container" data-ng-src="media/images/thumbnails/{{ project.thumbnail }}">
        </a>
        <div class="proj_text">
            <div class="proj_title">
                <h2><a href="#/projects/{{ projects.length - $index - 1 }}" data-ng-bind="project.title"></a></h2>
            </div>
            <div class="proj_desc">
                <p data-ng-bind="project.excerpt"></p>
                <p>
                    <a href="#/projects/{{ projects.length - $index - 1 }}">
                        <i class="fa fa-info-circle"></i> Read more
                    </a>
                    <span data-ng-show="project.url_demo">|</span>
                    <a href="{{ project.url_demo }}" target="_blank" data-ng-show="project.url_demo">
                        <i class="fa fa-cogs"></i> Live Demo
                    </a>
                    <span data-ng-show="(project.url_demo && project.url_source) || project.url_source">|</span>
                    <a href="{{ project.url_source }}" target="_blank" data-ng-show="project.url_source">
                        <i class="fa fa-code"></i> View Source
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
