<p>
    <input type="radio" data-ng-model="view" value="thumbnail"> <i class="icon-th"></i> Thumbnail View<br>
    <input type="radio" data-ng-model="view" value="detail"> <i class="icon-th-list"></i> Detail View
</p>

<div class="projects" data-ng-if="view === 'thumbnail'">
    <span data-ng-repeat="project in projects" data-ng-class="'views-row'">
        <a href="javascript:void(0)" data-ng-click="openDialog(projects.length - $index - 1)" title="{{ project.title }}">
            <img class="img-container img-view-thumbnail" data-ng-src="{{ project.thumbnail }}" alt="Thumbnail for {{ project.title }}.">
        </a>
    </span>
</div>
