<p>
    MathFlash is a web-based system designed to address existing problems regarding how mathematical content is displayed on the Internet. It attempts to remedy some of these problems by use of various methods to improve how content is presented and how to get the necessary information across to the user and retaining their learned material more effectively. This project was both an extension of my long-awaited personal desire to create such a system as well as my one-year undergraduate Computer Science capstone project at the City College of New York. It was awarded the 2014 Computer Science Outstanding Project Implementation Award. The research topics incorporated into this project include adaptive response time-based sequencing and perceptual learning. MathFlash was built using PHP, Python (and SymPy, a Python library), MySQL, and JavaScript (along with two JavaScript libraries -- MathJax and JSXGraph), as well as utilizing HTML5 and CSS3 technologies.
</p>


<h2>My Roles, Experiences, and Challenges</h2>
<p>
    This project was a single-person project. I was responsible for the requirements, design/architecture, construction/implementation, integration, testing, debugging, and delivery of the system. I needed to learn how to pace myself at each phase of the project in order to finish on time.
</p>
<p>
    The main challenge during this project was the integration of several technologies into the system. Oftentimes, two essential technologies conflict with each other and I had to decide how to resolve these issues.
</p>
