.projects .views-row {
    clear: both;
    padding: 20px 0;
    width: 100%;
}

.projects .views-row .img-container {
    box-shadow: 2px 2px 4px 2px #999999;
    -moz-box-shadow: 2px 2px 4px 2px #999999;
    -webkit-box-shadow: 2px 2px 4px 2px #999999;
}

.projects .views-row-even .img-container {
    float: left;
    margin-left: 4px;
}

.projects .views-row-odd .img-container {
    float: right;
    margin-right: 8px;
}

.projects .img-view-detail {
    height: 200px;
    width: 200px;
}

.projects .img-view-thumbnail {
    height: 21.25%;
    margin: 4px;
    width: 21.25%;
}

.projects .img-view-thumbnail:hover {
    border: 2px solid #222222;
    margin: 2px;
}


.projects .views-row-even .proj-text { margin-left: 220px; }
.projects .views-row-odd .proj-text { margin-right: 220px; }

.projects .views-row .proj-text .proj-desc {
    font-size: 14px;
    line-height: 1.15;
    text-align: justify;
}

.projects .views-row .proj-text .proj-title h2 {
    margin: 5px 0 10px;
}

.spacer { margin: 0 2px; }
.spacer:before { content: '|'; }

@media print, screen and (max-width: 640px) {
    .projects .views-row-even .img-container,
    .projects .views-row-odd .img-container {
        float: left;
        margin: auto 0;
    }

    .projects .views-row .proj-text {
        clear: both;
        margin: auto 0;
    }

    .projects .views-row .proj-text .proj-title h2 {
        margin: 0;
        padding-top: 10px;
    }
}
