/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Scaffolding */

body {
    color: #444444;
    font-weight: 300;
    font: 16px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 50px;
}

.wrapper {
    margin: 0 auto;
    width: 1020px;
}

.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}

.wrapper:after {
    clear: both;
}


/* Typography */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #4f738d;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    text-decoration: none;
}

a {
    color: #4f738d;
    text-decoration: none;
}

a:hover,
a:active {
    color: #2f538d;
    text-decoration: underline;
}

p, ul, ol {
    margin: 0 0 20px;
}

strong {
    font-weight: 700;
}

section {
    float: right;
    min-height: 400px;
    overflow: hidden;
    padding-bottom: 50px;
    width: 760px;
}

img {
    max-width: 100%;
}


/* Header */

header {
    border-right: 1px solid #dddddd;
    float: left;
    min-height: 100%;
    padding-right: 30px;
    position: fixed;
    width: 200px;
}


/* Navbar */

nav ul {
    background: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #dddddd;
    font-size: 13px;
    list-style: none;
    padding: 0;
}

nav li {
    border-bottom: 1px solid #dddddd;
    height: 24px;
    line-height: 24px;
}

nav li:last-child {
    border-bottom: none;
}

nav li a {
    color: #444444;
    display: block;
    padding-left: 15px;
}

nav li a:hover,
nav li a:active {
    color: #444444;
    font-weight: bold;
    text-decoration: none;
}

nav li a:active,
nav li a.active,
nav li a.active:hover {
    background: #e5e5e5;
}

nav .nav-label:before {
    content: " ";
}


/* Footer / Sidebar */

footer {
    bottom: 50px;
    float: left;
    font-size: 14px;
    position: fixed;
    text-align: center;
    width: 200px;
}

footer small {
    display: block;
    font-size: 12px;
    margin: 10px 0;
}

footer .extlinks {
    font-size: 26px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




/* ========================================================================== */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


/* Responsive Adjustments */
/*
@media print, screen and (max-width: 1120px), screen and (max-height: 380px) {
    div.wrapper {
        margin: 0;
        width: auto;
    }

    header, section, footer {
        float: none;
        position: static;
        width: 100%;
    }

    header {
        border-right: 0;
        padding-right: 320px;
    }

    nav ul {
        border-bottom: 1px solid #dddddd;
        height: 24px;
        position: absolute;
        right: 50px;
        top: 67px;
        width: 460px;
        border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
    }

    nav li {
        border-bottom: none;
        border-right: 1px solid #dddddd;
        float: left;
        width: 91px;
    }

    nav li:last-child {
        border-right: none;
        width: 92px;
    }

    nav li a {
        padding-left: 5px;
    }

    section {
        border-bottom: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
        margin: 0 0 20px;
        padding: 20px 0;
    }

    footer {
        margin: 0 auto;
        max-width: 400px;
        text-align: center;
    }
}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }

    header {
        padding: 0;
    }

    nav ul {
        margin-bottom: -1px;
        position: static;
        width: 410px;
    }

    nav li {
        text-align: center;
        width: 81px;
    }

    nav li:last-child {
        width: 82px;
    }

    nav li a {
        margin-left: -4px;
        padding-left: 0;
    }

    pre, pre > code {
        word-wrap: normal;
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding: 15px;
    }

    header h1 {
        text-align: center;
    }

    nav ul {
        font-size: 12px;
        height: 35px;
        margin: 0 auto -1px;
        width: 300px;
    }

    nav li {
        height: 35px;
        line-height: 16px;
        width: 59px;
    }

    nav li:last-child {
        width: 60px;
    }

    nav li a {
        margin-left: 0;
    }

    nav i {
        font-size: 18px;
    }

    nav .nav-label {
        display: block;
    }
}

@media print {
    body {
        color: #444444;
        font-size: 12pt;
        padding: 0.4in;
    }

    nav ul {
        display: none;
    }
}
*/
