/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    color: #444444;
    font-weight: 300;
    font: 16px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 1020px;
}

.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}

.wrapper:after {
    clear: both;
}

/*
 * Header
 */

header {
    background-color: #ffffff;
    border-right: 1px solid #dddddd;
    float: left;
    min-height: 100%;
    padding: 20px 20px 0 40px;
    position: fixed;
    width: 200px;
}

/*
 * Navigation
 */

nav ul {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    font-size: 0.8em;
    list-style: none;
    padding: 0;
}

nav ul li {
    border-bottom: 1px solid #dddddd;
    height: 24px;
    line-height: 24px;
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul li a {
    color: #444444;
    display: block;
    padding-left: 15px;
}

nav ul li a:hover,
nav ul li a:active {
    background-color: #ffffff;
    color: #444444;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:active,
nav ul li a.active,
nav ul li a.active:hover {
    background: #e5e5e5;
}

nav .nav-label:before {
    content: " ";
}

/*
 * Content body
 */

.content-body {
    float: right;
    padding: 20px 40px 50px 0;
    min-height: 400px;
    overflow: hidden;
    width: 690px;
}

/*
 * Footer
 */

footer {
    bottom: 50px;
    float: left;
    font-size: 0.9em;
    line-height: 1.1;
    padding-left: 50px;
    position: fixed;
    text-align: center;
    width: 200px;
}

footer .extlinks {
    font-size: 1.8em;
}

/*
 * Others
 */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #4f738d;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    text-decoration: none;
}

a {
    color: #4f738d;
    text-decoration: none;
}

a:hover,
a:active {
    color: #2f538d;
    text-decoration: underline;
}

p, ul, ol {
    margin: 0 0 20px;
}

strong {
    font-weight: 700;
}

img {
    max-width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   Style adjustments for viewports that meet the condition
   ========================================================================== */

@media only screen and (max-width: 1024px) {
    .wrapper {
        padding: 40px;
        width: auto;
    }

    header, .content-body, footer {
        float: none;
        position: static;
        width: 100%;
    }

    header {
        border-bottom: 1px solid #dddddd;
        border-right: none;
        margin: -20px 0 0 0;
        padding: 0;
        height: 41px;
    }

    nav ul {
        border-bottom: 1px solid #dddddd;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        height: 24px;
        position: absolute;
        right: 40px;
        top: 57px;
        width: 460px;
    }

    nav ul li {
        border-bottom: none;
        border-right: 1px solid #dddddd;
        float: left;
        width: 91px;
    }

    nav ul li:last-child {
        border-right: none;
        width: 92px;
    }

    nav ul li a {
        padding-left: 5px;
    }

    .content-body {
        padding: 0 0 30px;
    }

    footer {
        border-top: 1px solid #dddddd;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    body {
        word-wrap: break-word;
    }

    header {
        height: auto;
    }

    nav ul {
        margin-bottom: -1px;
        position: static;
        width: 400px;
    }

    nav ul li {
        text-align: center;
        width: 79px;
    }

    nav ul li:last-child {
        width: 80px;
    }

    nav ul li a {
        margin-left: -4px;
        padding-left: 0;
    }

    pre, pre > code {
        word-wrap: normal;
    }
}

@media only screen and (max-width: 480px) {
    .wrapper {
        padding: 10px;
    }

    header h1 {
        text-align: center;
    }

    nav ul {
        font-size: 12px;
        height: 35px;
        margin: 0 auto -1px;
        width: 300px;
    }

    nav ul li {
        height: 35px;
        line-height: 16px;
        width: 59px;
    }

    nav ul li:last-child {
        width: 60px;
    }

    nav ul li a {
        margin-left: 0;
    }

    nav i {
        font-size: 18px;
    }

    nav .nav-label {
        display: block;
    }

    footer {
        margin-top: 10px;
        padding: 10px 0;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
