<div class="slider">
    <div class="slide" data-ng-repeat="slide in slides" data-ng-show="slide.visible">
        <img data-ng-src="{{ slide.image }}">
        <p class="caption" data-ng-bind="slide.caption"></p>
    </div>
    <div class="arrow arrow_left">
        <a href="#" data-ng-click="prev()"><i class="icon-angle-circled-left"></i></a>
    </div>
    <div class="arrow arrow_right">
        <a href="#" data-ng-click="next()"><i class="icon-angle-circled-right"></i></a>
    </div>
</div>
