<p>
    Fire Emblem: Chronicles of the Abyss is a web-based remake of Fire Emblem: Blazing Sword, a turn-based strategy role playing game for the Game Boy Advance, but with a different main character and plot twist. The game was built solely for educational purposes under the City College of New York's chapter of the Association for Computing Machinery's Game Development Student Interest Group. The game was developed in JavaScript utilizing the HTML5 canvas using the <a href="http://impactjs.com">ImpactJS game engine</a>. The main goals of this project are to recreate a game that we enjoyed playing, to create a fully completed, quality game, and to give back to the ImpactJS community by open-sourcing the code so as to assist other developers on how to create similar features in their own game. Furthermore, we wanted to see what ImpactJS was truly capable of and to push the limits of the game engine beyond what we had initially thought was possible.
</p>

<h2>Background Information</h2>
<p>
    The game originally started near mid-November of 2013 under a different name and goal. After my experience with my <a href="#/projects/4">last ImpactJS game</a>, I wanted to take on the challenge of starting my own game. I was in the process of developing a battle system when one of my team members expressed great interest in using the battle system I had developed for a Fire Emblem game. I liked the idea and wanted to further improve my knowledge of the ImpactJS game engine.
</p>
<p>
    From then until early February, I continued working on the battle system to the point where it was feasible to build the game. After many hours of brainstorming and development, this system is now the heart of the game, in which almost all functionalities of the game revolve around. We understood that in order to create a game of this caliber, we would need to devote a great amount of time and dedication. It was at that point where we assembled a team of five members to create the game seen here today.
</p>

<h2>Features</h2>
<p>
    In order to ensure the game completes as planned, careful organization and distribution of tasks were essential. It was not long after the project began did we realize that we had a rapidly growing list of tasks completed and tasks to be assigned. We also found we were having difficulty keeping track of prerequisite tasks that needed to be completed before we could move on to the next set of tasks. As a result, we created a <a href="http://github.com/chessmasterhong/WaterEmblem/blob/master/notes/roadmap.txt">general roadmap</a>, <a href="http://github.com/chessmasterhong/WaterEmblem/blob/master/notes/task_tree.txt">task dependency tree</a>, and <a href="http://github.com/chessmasterhong/WaterEmblem/blob/master/notes/records.txt">records</a> to keep track and visualize our current development progress. On several occasions, multiple tasks may be required in order to fully complete a feature.

<p>
    Below outlines the major features we have implemented thus far:
</p>
<ul>
    <li>Battle system</li>
        <ul>
            <li>Battle grid system</li>
                <ul>
                    <li>Multiple controllable player units</li>
                    <li>Unit pathfinding using A* search algorithm</li>
                    <li>Mouse "point-and-click" movement for unit movement</li>
                    <li>Non-collision nearby unit detection</li>
                    <li>Attackable enemy units, healable player units</li>
                    <li>Camera system to focus on active unit</li>
                    <li>Terrain system</li>
                    <li>Map scripts</li>
                    <li>Map objectives</li>
                </ul>
            <li>Battle animation system</li>
                <ul>
                    <li>Animation queue for initial, counter, and second attacks</li>
                    <li>Animation handling for normal, magic, and critical attacks</li>
                </ul>
    <li>Character development system</li>
        <ul>
            <li>Base stats</li>
            <li>Derived stats</li>
            <li>Level and experience system</li>
            <li>Stat growth system</li>
        </ul>
    <li>Items</li>
        <ul>
            <li>Unit inventory system</li>
            <li>Unit equipment system</li>
            <li>Trade system</li>
            <li>Melee, ranged, and magic weapons</li>
            <li>Weapon stats system</li>
            <li>Weapon durability</li>
            <li>Consumable items</li>
            <li>Item quantity and usage</li>
            <li>Enemy item drops</li>
        </ul>
    <li>Graphical user interface (along with all their corresponding functionalities)</li>
        <ul>
            <li>Mouse-based menu interaction</li>
            <li>Game settings configuration screen</li>
            <li>Battle animation screen</li>
            <li>Dialog screen</li>
            <li>Stats screen</li>
            <li>Attack/Heal interface</li>
            <li>Inventory menu</li>
            <li>Trade menu</li>
            <li>Shop screen</li>
            <li>Character portraits</li>
            <li>Battle quick-summary</li>
        </ul>
</ul>

<h2>Development</h2>
<p>
    It was quickly apparent that development was advancing at a lightning pace. We were adding new functionalities to the game almost every day or two. We would have near daily discussions regarding the features completed, any problems impeding our task, and how to tackle the next task. Whenever we have difficulties trying to solve a problem, we would brainstorm amongst each other on ideas that may be feasible. Sometimes, we would hold peer-coding sessions and receive live feedback on our code. In short, I felt this was <a href="http://en.wikipedia.org/wiki/Agile_software_development">agile software development</a> at it's best.
</p>
<p>
    For the first four weeks since our team started, we finished about 98% of our task list which consisted of over 90 tasks. An additional week was spend on testing and bug fixing. After five weeks of development, near the end of March, we presented a fully playable, working demonstration of the game to our fellow peers, students, and faculties at the CCNY ACM Student/Faculty Mixer.

<p>
    At the time of the Mixer, we had the following statistics:
</p>
<ul>
    <li>622 commits since the team started (732 commits total)</li>
    <li>42 pull requests</li>
    <li>Over 7400 lines of handwritten code, after many code refactorings</li>
    <li>Over 800 hours of combined development</li>
</ul>

<p>
    According to our GitHub commit punchcard, there was development on the game at almost every time of each day, every day for the five weeks.<br>

    <img src="media/images/fe_mixer_punchcard.jpg" alt="GitHub commit punchcard">
</p>

<p>
    Here, shows our daily commit activity for the duration of the project until the Mixer.<br>

    <img src="media/images/fe_mixer_commitactivity.jpg" alt="Daily commit activity chart">
</p>

<h2>My Roles, Experiences, and Challenges</h2>
<p>
    I co-led this project alongside with another team member. My primary role was to oversee the technical direction of the game from the code standpoint. I provide feedback as to what tasks are available to work on and what tasks should not be started yet due to lack of code foundations. I also give high-level and low-level approaches and ideas to my team on how to implement certain features of the game.
</p>
<p>
    Due to my initial work on the battle system, I ended up with possession of project's master repository. With this privilege comes responsibility; I meticulously monitor and review all incoming code from my team members to ensure the code was functional and accomplishes the task given. This ensures that the code and the game is in a working state at any given time, which was difficult to do at times considering that adding some new features would inevitably break other existing features.
</p>
<p>
    In addition to monitoring the codebase, I was responsible for performing many of the code refactoring, optimization, and cleanup. With every commit I push to the repository and pull request I receive from my team members, I ensure that the code remains readable, organized, modular, and functional.
</p>
<p>
    Lastly, I actively participate in development. Along with the core battle system, I am also responsible for implementing several major features including, but not limited to:
</p>

<ul>
    <li><a href="http://github.com/chessmasterhong/WaterEmblem/commit/58059c2cdb2385c612b49766d6f474a27eec340c">Battle animations queue and sequence</a></li>
    <li>System for handling close/long-range, <a href="http://github.com/chessmasterhong/WaterEmblem/commit/9d413acb91127663720b9a0cd8ea0157cf4f9374">magical, hit/miss, normal, counter, critical, and second attacks</a></li>
    <li><a href="http://github.com/chessmasterhong/WaterEmblem/commits/356453621331844bc4dc2a9079dbf3f09d1fdf6f/lib/game/entities/misc/pointer.js">Mouse "point-and-click" for unit movement and menu interaction</a></li>
    <li><a href="http://github.com/chessmasterhong/WaterEmblem/commit/596690eac4f2f4ec86c8038193cda7939440cb9c">Enemy artificial intelligence</a></li>
    <li><a href="http://github.com/chessmasterhong/WaterEmblem/commit/e0f81a3e9fb9b5795b1adb5e51ee31e7ee42fa8c">Non-collision nearby unit detection</a></li>
    <li><a href="http://github.com/chessmasterhong/WaterEmblem/commit/4e44eb76479941b14daf16feda1884cc427b5505">Multiple controllable player units</a></li>
    <li>Hooking A* pathfinding to <a href="http://github.com/chessmasterhong/WaterEmblem/commit/2b5fa18babaf79493736ba7b33887e92c0d58b6f">players</a> and <a href="http://github.com/chessmasterhong/WaterEmblem/commit/39ed6d74b9d6becfc7f64549c36f959f42d35f4e">enemies</a></li>
    <li><a href="http://github.com/chessmasterhong/WaterEmblem/commit/4f32b84b0c2acf01bd3acbe7c95c23d149c32a57">Trade system</a></li>
    <li><a href="http://github.com/chessmasterhong/WaterEmblem/commit/8cae76018a4a272b276f801fd8c74f799e350652">Terrain system</a></li>
</ul>

<p>
    This project has challenged me every step of the way. Nothing was trivial; every task and every feature required careful planning and implementation. Before writing each step of the code, I had to ensure that the code was modular so that we may easily extend and scale upon existing functionalities, as well as understandable for my team members.
</p>
<p>
    If I had to walk away with one major thing I have learned/improved, it would be the importance proper planning before coding -- sit down and just think, scribble away any ideas on the whiteboard or paper, do some research online, discuss approaches or concerns with team members, and whip out a brief feasibility test. Be open to constructive criticism and be ready to scrap those ideas at any time because perhaps an easier or simpler solution may come along that had not previously been considered.
</p>
