.slider {
    padding: 0 0 500px;
    position: relative;
}

.slide {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.slide img {
    max-height: 440px;
    max-width: 100%;
}

.slide .caption {
    background: #cccccc;
    font-size: small;
    padding: 5px 15px;
}

.arrow img { height: 32px; }

.arrow_left, .arrow_right {
    position: absolute;
    top: 204px;
}

.arrow_left { left: 10px; }
.arrow_right { right: 10px; }

.slide.ng-hide-add, .slide.ng-hide-remove {
    display: block !important;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.slide.ng-hide-add.ng-hide-add-active, .slide.ng-hide-remove { opacity: 0; }
.slide.ng-hide-add, .slide.ng-hide-remove.ng-hide-remove-active { opacity: 1; }
