.slider {
    padding: 0 0 500px;
    position: relative;
}

.slider > .arrow {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
}

.slider:hover > .arrow {
    opacity: 1;
}

.slide {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.slide img {
    max-height: 440px;
    max-width: 100%;
}

.slide .caption {
    background: #e5e5e5;
    font-size: small;
    padding: 5px 15px;
}

.arrow {
    position: absolute;
    text-align: center;
    top: 204px;
    font-size: 32px;
}

.arrow_left { left: 5px; }
.arrow_right { right: 5px; }

.slide.ng-hide-add, .slide.ng-hide-remove {
    display: block !important;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.slide.ng-hide-add.ng-hide-add-active, .slide.ng-hide-remove { opacity: 0; }
.slide.ng-hide-add, .slide.ng-hide-remove.ng-hide-remove-active { opacity: 1; }
